/* disable scaling */
body{
  touch-action: manipulation;
  overflow: hidden;
}

#password-input {
  /* center */
  left: 36.5%;
  top: 45%;
  width: 30%;
  max-width: 30%;
  min-width: 30%;
  position: fixed;
  opacity: 0.5;
}

#password-input input{
  /* border: 2.5px black solid; */
  display: inline;
  width: 16%;
  min-width: 16%;
  font-size: x-large;
  font-weight: 900;
  color: black;
  margin: 0.5%;
  text-align: center;
}

#box-img {
  position:absolute;
  left: 50%;
  /* margin: auto; */
  transform: translateX(-50%);
  height: calc(100vh);
}

#number-keyboard {
  position: fixed;
  top: 56%;
  left: 20%;
  max-width: 60%;
  height: 30%;
  max-height: 30%;
}

#number-keyboard button {
  margin-bottom: 2%;
  max-height: 20%;
  height: calc(10vh);
  font-size: x-large;
  opacity: 0.5;
}